{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2"><h1>Déposer une annonce</h1></div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
         <input type="submit" name="send">
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}

{% endblock %}
