{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mb-2"><h1>CGU</h1></div>

    Les conditions générales d'utilisation seront définies ici...

{% endblock %}

{% block stylesheets %}

{% endblock %}
