{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mb-2"><h1>FAQ</h1></div>

    Les réponses aux questions en rapport avec l'utilisation du site seront traitées sur cette page...

{% endblock %}

{% block stylesheets %}

{% endblock %}
