{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mb-2"><h1>Accueil</h1></div>

    Projet PHP Symfony en cours de développement dans le cadre de la formation DTA Ingénierie
    <br>
    Formateur : Yoann Chocteau

{% endblock %}


{% block stylesheets %}

{% endblock %}
